h1{
    background: #2880b9;
    color: white;
    margin: 0%;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus{
    float: right;
}

span{
    color: rgb(121, 108, 108);
    height: 40px;
    margin-right: 20px;
    text-align: center;
    background: rgb(255, 0, 0);
    width: 0;
    display: inline-block;
    transition: 0.28s linear;
}

li:hover span{
    width: 40px;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0px;
}

li{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #505050;
}

input{
    font-size: 18px;
    color: rgb(0, 140, 255);
    background-color: #d6cebd;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

input:focus{
    background: white;
    border: 3px solid #2880b9;
    outline: none;
}

li:nth-child(2n){
    background: rgb(243, 242, 171);
}

body{
    font-family: Roboto;
    background: linear-gradient(90deg, rgba(68,213,250,1) 0%, rgba(255,199,119,1) 100%);
}

#container{
    background: rgb(243, 242, 171);
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 50);
}

.completed{
    color: rgb(128, 128, 128);
    text-decoration: line-through;
}